<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="/assets/css/gitalk.css">
<script src="/assets/js/gitalk.min.js"></script> 
<div style="width: 100%; height: 2rem;"></div>
<hr />
<div id="gitalk-container" style="width: 96%; margin: 0 auto;"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: 'fce91946ba9381818c17',
        clientSecret: '3dcb10278c52274868a8bfc6faa955b8b684c062',
        repo: 'jaytanng.github.io',
        owner: 'jaytanng',
        admin: ['jaytanng'],
        id: decodeURI(window.location.pathname)
        
    });
    gitalk.render('gitalk-container');
</script> 